# Configuring pandas

In [20]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# view the first five lines of data/msft.csv
!head -n 5 ../data/msft.csv
# type data/msft.csv # on windows, but shows the entire file

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

# Reading a CSV into a DataFrame

In [22]:
# read in msft.csv into a DataFrame
msft = pd.read_csv("../data/msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying the index column when reading a CSV file

In [23]:
# use column 0 as the index
msft = pd.read_csv("../data/msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

# Data type inference and specification

In [24]:
# examine the types of the columns in this DataFrame
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [25]:
# specify that the Volume column should be a float64
msft = pd.read_csv("../data/msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

# Specifying column names

In [26]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("../data/msft.csv", 
                 header=0,
                 names=['date', 'open', 'high', 'low', 
                        'close', 'volume'])
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying specific columns to load

In [27]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("../data/msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

# Saving a DataFrame to a CSV

In [28]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("../data/msft_modified.csv", index_label='date')

In [40]:
# view the start of the file just saved
!head -n 5 ../data/msft_modified.csv
#type data/msft_modified.csv # windows

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

# General field-delimited data

In [41]:
# use read_table with sep=',' to read a CSV
df = pd.read_table("../data/msft.csv", sep=',', index_col=['Date'])
df[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [42]:
# save as pipe delimited
df.to_csv("../data/msft_piped.txt", sep='|')
# check that it worked
!head -n 5 ../data/msft_piped.txt
# type data/psft_piped.txt # on windows

Date|Open|High|Low|Close|Volume
7/21/2014|83.46|83.53|81.81|81.93|2359300
7/18/2014|83.3|83.4|82.52|83.35|4020800
7/17/2014|84.35|84.63|83.33|83.63|1974000
7/16/2014|83.77|84.91|83.66|84.91|1755600

# Handling variants of formats in field-delimited data

In [32]:
# messy file
!head -n 6 ../data/msft2.csv
# type data/msft2.csv # windows

This is fun because the data does not start on the first line,,,,,
Date,Open,High,Low,Close,Volume
,,,,,
And there is space between the header row and data,,,,,
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800

In [33]:
# read, but skip rows 0, 2 and 3
df = pd.read_csv("../data/msft2.csv", skiprows=[0, 2, 3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [34]:
# another messy file, with the mess at the end
!cat ../data/msft_with_footer.csv
# type data/msft_with_footer.csv # windows

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800

Uh oh, there is stuff at the end.

In [35]:
# skip only two lines at the end
df = pd.read_csv("../data/msft_with_footer.csv", 
                 skipfooter=2,
                 engine = 'python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [36]:
# only process the first three rows
pd.read_csv("../data/msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [37]:
# skip 100 lines, then only process the next five
pd.read_csv("../data/msft.csv", skiprows=100, nrows=5, 
            header=0,
            names=['date', 'open', 'high', 'low', 
                   'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

# Reading and writing data in Excel format

In [38]:
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("../data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [43]:
# read from the aapl worksheet
aapl = pd.read_excel("../data/stocks.xlsx", sheet_name='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [45]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("../data/stocks2.xls")

In [46]:
# write making the worksheet name MSFT
df.to_excel("../data/stocks_msft.xls", sheet_name='MSFT')

In [47]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("../data/all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [49]:
# write to xlsx
df.to_excel("../data/msft2.xlsx")

# Reading and writing JSON files

In [51]:
# wirite the excel data to a JSON file
df[:5].to_json("../data/stocks.json")
!cat ../data/stocks.json
#type data/stocks.json # windows

{"Open":{"7\/21\/2014":83.46,"7\/18\/2014":83.3,"7\/17\/2014":84.35,"7\/16\/2014":83.77,"7\/15\/2014":84.3},"High":{"7\/21\/2014":83.53,"7\/18\/2014":83.4,"7\/17\/2014":84.63,"7\/16\/2014":84.91,"7\/15\/2014":84.38},"Low":{"7\/21\/2014":81.81,"7\/18\/2014":82.52,"7\/17\/2014":83.33,"7\/16\/2014":83.66,"7\/15\/2014":83.2},"Close":{"7\/21\/2014":81.93,"7\/18\/2014":83.35,"7\/17\/2014":83.63,"7\/16\/2014":84.91,"7\/15\/2014":83.58},"Volume":{"7\/21\/2014":2359300,"7\/18\/2014":4020800,"7\/17\/2014":1974000,"7\/16\/2014":1755600,"7\/15\/2014":1874700}}

In [52]:
# read data in from JSON
df_from_json = pd.read_json("../data/stocks.json")
df_from_json[:5]

             Open   High    Low  Close   Volume
2014-07-21  83.46  83.53  81.81  81.93  2359300
2014-07-18  83.30  83.40  82.52  83.35  4020800
2014-07-17  84.35  84.63  83.33  83.63  1974000
2014-07-16  83.77  84.91  83.66  84.91  1755600
2014-07-15  84.30  84.38  83.20  83.58  1874700

In [53]:
# the URL to read
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"
# read it
banks = pd.read_html(url)

In [54]:
# examine a subset of the first table read
banks[0][0:5].iloc[:,0:2]

                          Bank Name           City
0              The First State Bank  Barboursville
1                Ericson State Bank        Ericson
2  City National Bank of New Jersey         Newark
3                     Resolute Bank         Maumee
4             Louisa Community Bank         Louisa

In [58]:
# read the stock data
df = pd.read_excel("../data/stocks.xlsx")
# write the first two rows to HTML
df.head(2).to_html("../data/stocks.html")
# check the first 28 lines of the output
!head -n 10 ../data/stocks.html
# type data/stocks.html # window, but prints the entire file

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>

# Reading and writing HDF5 format files

In [60]:
# seed for replication
np.random.seed(123456)
# create a DataFrame of dates and random numbers in three columns
df = pd.DataFrame(np.random.randn(8, 3), 
                  index=pd.date_range('1/1/2000', periods=8),
                  columns=['A', 'B', 'C'])

# create HDF5 store
store = pd.HDFStore('../data/store.h5')
store['df'] = df # persisting happened here
store

<class 'pandas.io.pytables.HDFStore'>
File path: ../data/store.h5

In [61]:
# read in data from HDF5
store = pd.HDFStore("../data/store.h5")
df = store['df']
df[:5]

                   A         B         C
2000-01-01  0.469112 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

In [62]:
# this changes the DataFrame, but did not persist
df.iloc[0].A = 1 
# to persist the change, assign the DataFrame to the 
# HDF5 store object
store['df'] = df
# it is now persisted
# the following loads the store and 
# shows the first two rows, demonstrating
# the the persisting was done
pd.HDFStore("../data/store.h5")['df'][:5] # it's now in there

                   A         B         C
2000-01-01  1.000000 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

# Accessing data on the web and in the cloud

In [66]:
# read csv directly from Yahoo! Finance from a URL
msft_hist = pd.read_csv(
    "https://covidtracking.com/api/us/daily.csv", index_col=0)
msft_hist[:5]

          states  positive   negative  pending  ...  hospitalizedIncrease  \
date                                            ...
20200410      56    492678  2036047.0  17444.0  ...                2339.0
20200409      56    458474  1916737.0  17631.0  ...                1190.0
20200408      56    424391  1788294.0  17228.0  ...                1654.0
20200407      56    394230  1678891.0  16557.0  ...                2302.0
20200406      56    363815  1561229.0  17292.0  ...                2975.0

          negativeIncrease  positiveIncrease  totalTestResultsIncrease
date
20200410          119310.0           34204.0                  153514.0
20200409          128443.0           34083.0                  162526.0
20200408          109403.0           30161.0                  139564.0
20200407          117662.0           30415.0                  148077.0
20200406          120496.0           28746.0                  149242.0

[5 rows x 23 columns]

# Reading and writing from/to SQL databases

In [68]:
# reference SQLite
import sqlite3

# read in the stock data from CSV
msft = pd.read_csv("../data/msft.csv", index_col=0)
msft["Symbol"]="MSFT"
aapl = pd.read_csv("../data/aapl.csv", index_col=0)
aapl["Symbol"]="AAPL"

# create connection
connection = sqlite3.connect("../data/stocks.sqlite")
# .to_sql() will create SQL to store the DataFrame
# in the specified table.  if_exists specifies
# what to do if the table already exists
msft.to_sql("STOCK_DATA", connection, if_exists="replace")
aapl.to_sql("STOCK_DATA", connection, if_exists="append")

# commit the SQL and close the connection
connection.commit()
connection.close()

In [70]:
# connect to the database file
connection = sqlite3.connect("../data/stocks.sqlite")

# query all records in STOCK_DATA
# returns a DataFrame
# inde_col specifies which column to make the DataFrame index
stocks = pd.io.sql.read_sql("SELECT * FROM STOCK_DATA;", 
                             connection, index_col='Date')

# close the connection
connection.close()

# report the head of the data retrieved
stocks[:5]

            Open   High    Low  Close   Volume Symbol
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300   MSFT
7/18/2014  83.30  83.40  82.52  83.35  4020800   MSFT
7/17/2014  84.35  84.63  83.33  83.63  1974000   MSFT
7/16/2014  83.77  84.91  83.66  84.91  1755600   MSFT
7/15/2014  84.30  84.38  83.20  83.58  1874700   MSFT

In [73]:
# open the connection
connection = sqlite3.connect("../data/stocks.sqlite")
# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE " + \
        "Volume>29200100 AND Symbol='MSFT';"
# execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='Date')
connection.close()
# report the query result
items

            Open   High    Low  Close    Volume Symbol
Date
5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT

# Reading stock data from Google Finance

In [74]:
# import data reader package
import pandas_datareader as pdr

d:\py_3.8.2\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [84]:
# read from google and display the head of the data
start = datetime(2017, 4, 1)
end = datetime(2017, 4, 30)
# https://pandas-datareader.readthedocs.io/en/latest/remote_data.htm
pdr.get_data_stooq('AAPL', start, end)

              Open    High     Low   Close    Volume
Date
2017-04-28  137.91  138.11  137.12  137.49  21794612
2017-04-27  137.75  137.97  137.16  137.63  14843948
2017-04-26  138.27  138.40  137.23  137.52  20913405
2017-04-25  137.74  138.69  137.70  138.33  19508234
2017-04-24  137.35  137.78  137.04  137.48  17885127
...            ...     ...     ...     ...       ...
2017-04-07  137.57  137.99  137.12  137.19  17418882
2017-04-06  138.10  138.32  137.30  137.50  21206352
2017-04-05  138.03  139.23  137.65  137.85  28226321
2017-04-04  137.11  138.68  137.03  138.56  20300091
2017-04-03  137.55  137.93  136.93  137.54  20880796

[19 rows x 5 columns]

# Reading economic data from the Federal Reserve Bank of St. Louis

In [85]:
# read GDP data from FRED
gdp = pdr.data.FredReader("GDP",
                     date(2012, 1, 1), 
                     date(2014, 1, 27))
gdp.read()[:5]

                  GDP
DATE
2012-01-01  16019.758
2012-04-01  16152.257
2012-07-01  16257.151
2012-10-01  16358.863
2013-01-01  16569.591

In [86]:
# Get Compensation of employees: Wages and salaries
pdr.data.FredReader("A576RC1A027NBEA",
                date(1929, 1, 1),
                date(2013, 1, 1)).read()[:5]

            A576RC1A027NBEA
DATE
1929-01-01             50.5
1930-01-01             46.2
1931-01-01             39.2
1932-01-01             30.5
1933-01-01             29.0

# Accessing Kenneth French data

In [87]:
# read from Kenneth French fama global factors data set
factors = pdr.data.FamaFrenchReader("Global_Factors").read()
factors[0][:5]

         Mkt-RF   SMB   HML   WML   RF
Date
2015-04    2.71  0.81  2.15 -3.31  0.0
2015-05    0.49  1.33 -1.25  4.24  0.0
2015-06   -2.10  2.04 -0.94  1.83  0.0
2015-07    1.16 -3.06 -3.22  3.43  0.0
2015-08   -6.15  1.43  0.83 -0.53  0.0

# Reading from the World Bank

In [88]:
# get all indicators
from pandas_datareader import wb
all_indicators = pdr.wb.get_indicators()
all_indicators.iloc[:5,:2]

                     id                                     name
0    1.0.HCount.1.90usd          Poverty Headcount ($1.90 a day)
1     1.0.HCount.2.5usd          Poverty Headcount ($2.50 a day)
2  1.0.HCount.Mid10to50    Middle Class ($10-50 a day) Headcount
3       1.0.HCount.Ofcl  Official Moderate Poverty Rate-National
4   1.0.HCount.Poor4uds             Poverty Headcount ($4 a day)

In [89]:
# search of life expectancy indicators
le_indicators = pdr.wb.search("life expectancy")
# report first three rows, first two columns
le_indicators.iloc[:5,:2]

                      id                                               name
10293        SE.SCH.LIFE  School life expectancy, primary to tertiary, b...
10294     SE.SCH.LIFE.FE  School life expectancy, primary to tertiary, f...
10295     SE.SCH.LIFE.MA  School life expectancy, primary to tertiary, m...
11711  SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
11712     SP.DYN.LE00.IN            Life expectancy at birth, total (years)

In [92]:
# get countries and show the 3 digit code and name
countries = pdr.wb.get_countries()
# show a subset of the country data
countries.loc[0:5,['name', 'capitalCity', 'iso2c']]

          name       capitalCity iso2c
0        Aruba        Oranjestad    AW
1  Afghanistan             Kabul    AF
2       Africa                      A9
3       Angola            Luanda    AO
4      Albania            Tirane    AL
5      Andorra  Andorra la Vella    AD

In [93]:
# get life expectancy at birth for all countries from 1980 to 2014
le_data_all = pdr.wb.download(indicator="SP.DYN.LE00.IN", 
                          start='1980', 
                          end='2014')
le_data_all

                    SP.DYN.LE00.IN
country       year
Canada        2014       81.800000
              2013       81.748780
              2012       81.648780
              2011       81.448780
              2010       81.246341
...                            ...
United States 1984       74.563415
              1983       74.463415
              1982       74.360976
              1981       74.009756
              1980       73.609756

[105 rows x 1 columns]

In [94]:
# only US, CAN, and MEX are returned by default
le_data_all.index.levels[0]

Index(['Canada', 'Mexico', 'United States'], dtype='object', name='country')

In [95]:
# retrieve life expectancy at birth for all countries 
# from 1980 to 2014
le_data_all = wb.download(indicator="SP.DYN.LE00.IN", 
                          country = countries['iso2c'],
                          start='1980', 
                          end='2012')
le_data_all

d:\py_3.8.2\lib\site-packages\pandas_datareader\wb.py:592: UserWarning: Non-standard ISO country codes: 1A, 1W, 4E, 6D, 6F, 6L, 6N, 6X, 7E, 8S, A4, A5, A9, B1, B2, B3, B4, B6, B7, B8, C4, C5, C6, C7, C8, C9, D2, D3, D4, D5, D6, D7, D8, D9, EU, F1, F6, JG, L4, L5, L6, L7, M1, M2, N6, O6, OE, R6, S1, S2, S3, S4, T2, T3, T4, T5, T6, T7, V1, V2, V3, V4, XC, XD, XE, XF, XG, XH, XI, XJ, XK, XL, XM, XN, XO, XP, XQ, XT, XU, XY, Z4, Z7, ZB, ZF, ZG, ZJ, ZQ, ZT
  warnings.warn(

               SP.DYN.LE00.IN
country  year
Aruba    2012          75.299
         2011          75.158
         2010          75.017
         2009          74.872
         2008          74.725
...                       ...
Zimbabwe 1984          61.280
         1983          61.025
         1982          60.650
         1981          60.203
         1980          59.731

[8712 rows x 1 columns]

In [96]:
#le_data_all.pivot(index='country', columns='year')
le_data = le_data_all.reset_index().pivot(index='country', 
                                          columns='year')
# examine pivoted data
le_data.iloc[:5,0:3]

               SP.DYN.LE00.IN
year                     1980    1981    1982
country
Afghanistan            43.244  43.923  44.617
Albania                70.208  70.416  70.635
Algeria                58.198  59.519  60.813
American Samoa            NaN     NaN     NaN
Andorra                   NaN     NaN     NaN

In [97]:
# ask what is the name of country for each year
# with the least life expectancy
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy[:5]

                year
SP.DYN.LE00.IN  1980       Cambodia
                1981       Cambodia
                1982    Timor-Leste
                1983    South Sudan
                1984    South Sudan
dtype: object

In [98]:
# and what is the minimum life expectancy for each year
expectancy_for_least_country = le_data.min(axis=0)
expectancy_for_least_country[:5]

                year
SP.DYN.LE00.IN  1980    27.536
                1981    33.342
                1982    38.175
                1983    39.671
                1984    40.005
dtype: float64

In [99]:
# this merges the two frames together and gives us
# year, country and expectancy where there minimum exists
least = pd.DataFrame(
    data = {'Country': country_with_least_expectancy.values,
            'Expectancy': expectancy_for_least_country.values},
    index = country_with_least_expectancy.index.levels[1])
least[:5]

          Country  Expectancy
year
1980     Cambodia      27.536
1981     Cambodia      33.342
1982  Timor-Leste      38.175
1983  South Sudan      39.671
1984  South Sudan      40.005